.parents {
    padding-top: 35px;
}
.imgss {
    margin-left: 50px;
    width: 450px;
    height: 500px;
}
.suheads {
    padding-top: 50px;
    padding-left: 95px;

}
.Headss {
    margin-left: 45px;
    padding-bottom: 8px;
    margin-top: 80px;
}