.parentst {
    padding-top: 35px;
}
.imgst {
    margin-left: 50px;
    width: 600px;
    height: 480px;
}
.suheadst {
    padding-top: 50px;
    padding-left: 95px;

}
.Headst {
    margin-left: 45px;
    padding-bottom: 8px;
    margin-top: 80px;
}