.lists {
    margin-left: 20px;
}
.buttons {
    margin-left: 25px;
    background-color: #FFA500;
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 25px;
}
.buttons:hover{
    background-color: #09272b;
    transition: 0.3s;
    color: white;
    
}
.navdiv {
background-color: #f04a00;
width:1500px ;
}