.parent {
    padding-top: 45px;
    background-color: #010a0f;
    padding-bottom: 45px;
}
.imgs {

    width: 600px;
    height: 350px;
}
.suhead {
    padding-top: 50px;
    color: #FFA500;
    padding-left: 85px;
    ;
}
.Heads {
    margin-left: 45px;
}